@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Poppins", serif;

}
.app{
  min-height: 100vh;
  display:grid;
  /* background:#e2d4ff; */
  /* background: #f4f1e6 ; */
  /* background: #d4f1f7; */
}
body {
  margin: 0;
  padding: 0;
  height: 100vh; /* Make sure it covers the entire viewport */
  background-image: url('/bg_image.jpg'); /* Path to your image */
  background-size: cover; /* Ensures the image covers the entire screen */
  background-position: center center; /* Centers the image */
  background-repeat: no-repeat; /* Ensures it doesn't repeat */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
